#calcBody {
	width: 100%;
	font-size: 4em;
	border-width: 1px;
	border-color: black;
}

#calculator {
	text-align: center;
	background-color: tan;
	width: 100%;
	cursor: default;
}

#outputArea {
	text-align: right;
	background-color: gray;
}

#free, .pickedBG {
	background-color: #f66;
}

td {
	border-style: solid;
	border-width: .1em;
	border-color: black;
	padding: .25em 0em;
}

button {
	margin: 0;
	padding: 1em;
}