<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <title>HTML5 boilerplate – all you really need…</title>
    <link rel="stylesheet" href="css/calc_style.css">
	<script src="http://code.angularjs.org/angular-1.0.0rc3.min.js"></script>
	<script src="js/angular_calc.js"></script>
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
	<div ng-controller="CalcCtrl">
		{{display}}
		<br>
		<button ng-click='processInput(7)'>7</button>
		<button ng-click='processInput(8)'>8</button>
		<button ng-click='processInput(9)'>9</button>
		<button ng-click='processInput("/")'>/</button>
		<br>
		<button ng-click='processInput(4)'>4</button>
		<button ng-click='processInput(5)'>5</button>
		<button ng-click='processInput(6)'>6</button>
		<button ng-click='processInput("*")'>*</button>
		<br>
		<button ng-click='processInput(1)'>1</button>
		<button ng-click='processInput(2)'>2</button>
		<button ng-click='processInput(3)'>3</button>
		<button ng-click='processInput("-")'>-</button>
		<br>
		<button ng-click='processInput(0)'>0</button>
		<!--<button ng-click='processInput(".")'>.</button>-->
		<button ng-click='processInput("=")'>=</button>
		<button ng-click='processInput("+")'>+</button>
	</div>
</body>
</html>